{% extends 'landload/basic.html' %} 
{% load static %}

    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/select/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">
    <!-- END: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/form-validation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-user.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/select/select2.min.css' %}">
    <style>
       .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff !important;
}
    </style>
    {% endblock style %}
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">
    {% block content %}


        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="app-user-edit">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title">Setup Location</h4>
                                    </div>
                                    <div class="col-md-2"></div>
                                <div class="card-body py-2 my-25">
                                    
                                        <!-- upload and reset button -->
                                    <form class="form-validate" method="POST" enctype="multipart/form-data">
                                        
                                        <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                            {% csrf_token %}
                                            <div class="row mb-2">
                                                <div class="col-md-3 ">
                                                    <div class="form-group">
                                                        <label for="username">Country</label>
                                                        {{form.country}}
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 me-1"  {% if more_fun %} disabled  readonly {% endif %} >Save Changes</button>
                                                <button type="reset" class="btn btn-outline-secondary"  {% if more_fun %} disabled  readonly {% endif %} >Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- users edit ends -->

            </div>
        </div>
    <!-- END: Content-->
    {% endblock content %}
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <script>
        console.log('hello')
    </script>

    <!-- BEGIN Vendor JS-->
    {% block scriptjs %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

       <!-- BEGIN: Page Vendor JS-->
       <script href="{% static 'app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
       <script href="{% static 'app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
       <script href="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
       <!-- END: Page Vendor JS-->
   
   
       <!-- BEGIN: Page JS-->
       <script href="{% static 'app-assets/js/scripts/pages/app-user-edit.js' %}"></script>
       <script href="{% static 'app-assets/js/scripts/components/components-navs.js' %}"></script>
       <script src="{% static 'app-assets/js/scripts/forms/form-select2.js' %}"></script>
       <script>
        console.log('aaaaaa');
        
        </script>
        <script>
             function deactivate(property_id) {
                    var id =property_id
                    var approveLandloadUrl='/landload/deactivate_property/'+id
                    Swal.fire({

                    title: "Are you sure?",
                    text: "You want to deactivate listing ",
                    icon: "delete",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Deactivate"
                    }).then((result) => {
                    if (result.isConfirmed) {
                        var pk=id
                        // If user confirms, make AJAX request to delete endpoint
                        // Replace 'delete-url' with the actual URL to delete the item
                        fetch(approveLandloadUrl, {  // Use template literal
                        method: 'get',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                        })
                        .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                        })
                        .then(data => {
                        // Handle success response
                        Swal.fire({
                            title: "Deactivated!",
                            text: "Listing has been deactivated.",
                            icon: "success"
                        }).then(() => {
                                    // Reload the page after showing the alert
                                    window.location.href ="{% url 'landload:listing' %}"
                                });
                        })
                        .catch(error => {
                        // Handle error
                        console.error('Error Listing deactivation:', error);
                        Swal.fire({
                            title: "Error",
                            text: "Failed to deactivate the Listing.",
                            icon: "error"
                        });
                        });
                    }
                    });
                }

        </script>
       <!-- END: Page JS-->
    {% endblock scriptjs %}
 

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
        
    </script>
    
</body>
<!-- END: Body-->

</html>